.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 50px 20px;
}

.form-input {
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.radio {
  display: block;
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.user-input label {
  margin-bottom: 5px;
}
